{% extends 'base.html' %}
{% load static %}
{% block base %}
<div class="p-4 mt-5 fw-bold fs-2">
  Product List
</div>

<div class="row justify-content-center p-4 mb-5 mt-3">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-outline-info"><a href="{% url 'export_csv_product' %}" class="text-decoration-none">Export CSV</a></button>
      </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-outline-info"><a href="{% url 'export_excel_product' %}" class="text-decoration-none">Export EXCEL</a></button>
    </div>
  </div>

  <div class="table-responsive">
      <table id="example" class="table table-striped " style="width:100%">
          <thead>
              <tr>
                  <th>Product Name</th>
                  <th>Actual Stock</th>
                  <th>Available Stock</th>
                  <th>Category</th>
                  <th>Sub Category</th>
                  <th>Unit Price</th>
                  <th>Is Active</th>
                  <th>Total Amount</th>
                  <th>Description</th>
                  <th>Remove Product</th>
                  <th>Edit Product</th>
              </tr>
          </thead>
          <tbody>
              {% for product in products reversed %}
              <tr>
                  <td>{{ product.name }}</td>
                  <td>{{ product.actual_count }}</td>
                  <td>{{ product.available_count }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.sub_category }}</td>
                  <td>{{ product.unit_price}}</td>
                  <td>{{ product.is_active}}</td>
                  <td>{{product.actual_price|stringformat:"d"|slice:":" }}</td>
                  <td>{{product.decription }}</td>
                  <td><div>
                    <a href="{% url 'delete_product' product.id %}">
                        <button class="btn btn-outline-danger" onclick="return confirmRemoveItem('{{ product.id }}')">Remove</button>
                    </a>
                </div></td>
                  <td><div>
                    <a href="{% url 'edit_product_view' product.id %}" >
                      <button class="mt-1 btn btn-outline-primary" type="submit">Edit</button></a>
                  </div></td>
                  
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
<div class="mt-4 mb-4 text-white">
  .
</div>
<script>
  function confirmRemoveItem(productId) {

    var confirmation = confirm("Are you sure you want to remove this item?");


    if (confirmation) {
    } else {
        return false; 
    }
}
  document.getElementById('searchInput').addEventListener('input', function() {
    const searchTerm = this.value.toLowerCase();
    const productCards = document.querySelectorAll('.product-card');

    productCards.forEach(card => {
      const productName = card.querySelector('.card-title').textContent.toLowerCase();
      if (productName.includes(searchTerm)) {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    });
  });

  function confirmRemoveItem(itemId) {
    const confirmation = confirm("Are you sure you want to remove this item from the Product List ?");
    if (confirmation) {
      document.getElementById(`removeItem_${itemId}`).submit();
    } else {
      return false;
    }
  }
</script>
{% endblock %}