{% extends 'base.html' %}

{% block base %}
<style>
    .reason-container {
        max-width: 100%;
        overflow-x: auto;
      }
      
      @media (max-width: 576px) {
        .reason-container {
          max-height: 3.6em; /* Adjust as needed */
          line-height: 1.2em; /* Adjust line height */
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5; /* Number of lines to show */
          -webkit-box-orient: vertical;
        }
      }
</style>
<div class="p-4 mt-3">
    <div class="overlay"></div>
    <div class="d-flex flex-row bd-highlight mb-3 mt-4">
      <div class=" bd-highlight">
          <a href="{% url 'wastage_admin_dashboard' %}" class="text-decoration-none fs-4">Wastage Admin Dashboard</a>
        </div>
      <div class="px-4 bd-highlight">
        <a href="{% url 'wastage_render' %}" class="text-decoration-none text-black fs-4 fw-bold">Wastage Log</a>
      </div>
    </div>
    <h6>Damaged Product Price : Rs.{{total}}</h6>
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-outline-info"><a href="{% url 'export_csv_damaged_product' %}" class="text-decoration-none">Export CSV</a></button>
        </div>
      <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-outline-info"><a href="{% url 'export_excel_damaged_product' %}" class="text-decoration-none">Export EXCEL</a></button>
      </div>
    </div>
    <div class="table-responsive">
        <table id="myTable" class="table table-striped table-bordered">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th>User Name</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Reason</th>
                    <th>Date</th>
                    <th>Verified By</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in wastages %}
 
                  <tr>
                    <td>{{ product.wastage_user.user.username|slice:"-8:" }}</td>
                    <td>{{ product.wastage_user.product.name }}</td>
                    <td>{{ product.wastage_user.quantity }}</td>
                    <td><div class="reason-container">
                        {{ product.wastage_user.reason }}
                    </div></td>
                    <td>{{ product.wastage_user.created_at }}</td>
                    <td>
                      {{product.created_by.username|slice:"-8:"}}
                      </td>
                  </tr>
 
                  {% endfor %}
                </tbody>
              </table>
    </div>
</div>
<div class="mt-4 mt-5 text-white">
 .
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get input element and table
        var input = document.getElementById("rollNumberSearch");
        var table = document.getElementById("myTable");
        var rows = table.getElementsByTagName("tr");
    
        // Add event listener for input changes
        input.addEventListener("input", function () {
          var filter = input.value.toLowerCase();
    
          // Loop through all table rows and hide/show based on the filter
          for (var i = 1; i < rows.length; i++) {
            var row = rows[i];
            var rollNumberCell = row.getElementsByTagName("td")[0];
            var emailCell = row.getElementsByTagName("td")[1];
    
            if (rollNumberCell && emailCell) {
              var rollNumber = rollNumberCell.textContent || rollNumberCell.innerText;
              var email = emailCell.textContent || emailCell.innerText;
    
              // Check if roll number or email contains the filter
              if (rollNumber.toLowerCase().includes(filter) || email.toLowerCase().includes(filter)) {
                row.style.display = "";
              } else {
                row.style.display = "none";
              }
            }
          }
        });
      });
</script>
{% endblock %}
