{% extends 'base.html' %}

{% block base %}
<div class="container">
    <h1 class="text-center mt-4">𝗜𝗻𝘃𝗲𝗻𝘁𝗼𝗿𝘆 𝗨𝘀𝗲𝗿𝘀 𝗟𝗶𝘀𝘁</h1>
    <div class="mt-4">
        {{error_message}}
    </div>
    <div class="row justify-content-center mb-5 mt-3">

        <div class="table-responsive">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Roll Number</th>
                        <th>Email</th>
                        <th>Approve OR Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users reversed %}
                    {% if user.username != 'admin' and user.groups.name != 'wastage_admin' %}
                    
                    <tr>
                        <td>{{ user.username|slice:"-8:" }}</td>
                        <td>{{ user.email}}</td>
                        <td>
                            <div class="flex justify-end items-center">
                                <form action="{% url 'users_list' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ user.id }}">
                                    {% if user.groups.all.0.name == 'admin' %}
                                    <button type="submit" name="action" value="reject"
                                        class="btn btn-outline-danger">Remove</button>
                                    {% else %}
                                    <button type="submit" name="action" value="approve"
                                        class="btn btn-outline-info">Approve</button>
                                    {% endif %}
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-white mt-4 mb-4">
            .
        </div>
    </div>
</div>
</div>
<script>
    function validateEmail() {
        const enteredEmail = document.getElementById('email').value;
        const microsoftPattern = /^[a-zA-Z0-9_.+-]+@(kct\.)+ac\.in$/; // Your Microsoft email pattern

        if (microsoftPattern.test(enteredEmail)) {
            const confirmation = confirm('Do you want to add this Microsoft email?');

            if (confirmation) {
                // Proceed to form submission
                document.forms['myForm'].submit();
            } else {
                // Cancel the form submission
                return false;
            }
        } else {
            alert('Please enter a valid Microsoft email.');
            return false;
        }
    }


    document.addEventListener("DOMContentLoaded", function () {
        var input = document.getElementById("rollNumberSearch");
        var table = document.getElementById("myTable");
        var rows = table.getElementsByTagName("tr");


        input.addEventListener("input", function () {
            var filter = input.value.toLowerCase();

            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var rollNumberCell = row.getElementsByTagName("td")[0];
                var emailCell = row.getElementsByTagName("td")[1];

                if (rollNumberCell && emailCell) {
                    var rollNumber = rollNumberCell.textContent || rollNumberCell.innerText;
                    var email = emailCell.textContent || emailCell.innerText;

                    if (rollNumber.toLowerCase().includes(filter) || email.toLowerCase().includes(filter)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                }
            }
        });
    });


    $(document).ready(function () {
        $('#myTable').DataTable();
    });


</script>


{% endblock %}